:root {
  --bgclr: #36393F;
  --bgclr2: #2F3136;
  --blurple: #7289DA;
  --blurple2: #4e5d94;
  --white: #FFF;
  --white2: #B9BBBE;
  --grey: #72767D;
  --black: #202225;
  --black2: #18191C;
  --red: #F04747;
}

@font-face {
  font-family: whitney;
  font-weight: 300;
  src: url(https://discordapp.com/assets/6c6374bad0b0b6d204d8d6dc4a18d820.woff) format("woff");
}

@font-face {
  font-family: whitney;
  font-weight: 400;
  src: url(https://discordapp.com/assets/e8acd7d9bf6207f99350ca9f9e23b168.woff) format("woff");
}

@font-face {
  font-family: whitney;
  font-weight: 500;
  src: url(https://discordapp.com/assets/3bdef1251a424500c1b3a78dea9b7e57.woff) format("woff");
}

@font-face {
  font-family: whitney;
  font-weight: 600;
  src: url(https://discordapp.com/assets/be0060dafb7a0e31d2a1ca17c0708636.woff) format("woff");
}

@font-face {
  font-family: whitney;
  font-weight: 700;
  src: url(https://discordapp.com/assets/8e12fb4f14d9c4592eb8ec9f22337b04.woff) format("woff");
}

body {
  margin: 0;
  background-color: var(--bgclr);
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  padding: 10px 15px;
  font: 400 15px whitney;
  line-height: 18px;
  border-radius: 3px;
  background-color: var(--blurple);
  color: var(--white);
  transition: all 200ms ease;
}
.btn:hover {
  background-color: var(--blurple2)
}

#overlay {
  background-color: black;
  opacity: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: none;
  transition: all 200ms ease;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 13px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.4);
  background-clip: padding-box;
  border: solid transparent 3px;
  border-radius: 30px;
}
/*------text-styles-------*/
.twhite {
  color: var(--white)!important;
}
.tgrey {
  color: var(--grey)!important;
}
/*------shit------*/
.logo,
.logoText,
.logoWrapper-main,
.navListWrapper,
.profileWrapper,
.profileHolder .left,
.profileHolder .right {
  display: inline-block;
  vertical-align: middle;
}
/*------navigation------*/
.navWrapper-main {
  background-color: var(--black);
}
.navWrapper {
  display: flex;
  padding: 4px 20px;
  align-items: center;
  max-width: 1300px;
  margin: auto;
}

.navBurger {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 20px;
  display: none;
}
.navBurger span,
.navBurger span:before,
.navBurger span:after {
  background: var(--white);
  position: absolute;
  width: 100%;
  display: block;
  border-radius: 25%;
  transition: all 200ms ease;
}
.navBurger span {
  width: 100%;
  height: 3px;
  top: 8px;
}
.navBurger span:before,
.navBurger span:after {
  content: '';
  height: 100%;
  transition: all 200ms ease;
}
.navBurger span:before {
  top: 6px;
}
.navBurger span:after {
  top: -6px;
}
.navBurger.show span { 
  background: transparent;
}
.navBurger.show span:before {
  top: 0;
  transform: rotate(45deg);
}
.navBurger.show span:after {
  top: 0;
  transform: rotate(-45deg);
}

.logoWrapper-main {
  flex: 0 0 auto;
  width: 320px;
}
.logo {
  width: 24px;
  height: auto;
  margin-right: 8px;
}
.logoText {
  text-transform: uppercase;
  font: 400 16px whitney; 
  line-height: 20px;
}

.navListWrapper {
  flex: 1 1 auto;
  padding: 0;
  list-style: none;
}
.navListWrapper li {
  display: inline-block;
}
.navListWrapper li a {
  text-transform: capitalize;
  padding: 20px 20px 17px;
  font: 400 16px whitney; 
  line-height: 20px;
  color: var(--white2);
}
.navListWrapper li a:hover,
.navListWrapper li.selected a:hover {
  color: #00B0F4;
}
.navListWrapper li.selected a {
  color: var(--white);
  border-bottom: var(--blurple) solid;
}

.navListWrapper.mobile {
  flex: none;
  display: none;
  width: 100%;
}
.navListWrapper.mobile li {
  display: block;
  padding: 10px 18px;
  border-left: transparent solid 4px;
}
.navListWrapper.mobile li.selected {
  border-left: var(--blurple) solid 4px;
}
.navListWrapper.mobile li a {
  padding: 0;
}
.navListWrapper.mobile li.selected a {
  border-bottom: none;
}

.profileWrapper {
  position: relative;
  text-align: right;
}
.profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.profileHolder {
  text-align: left;
  position: absolute;
  right: 0;
  visibility: hidden;
  background: var(--black2);
  border-radius: 3px;
  width: max-content;
  max-width: 220px;
  padding: 8px 16px;
  transform: translateY(-10px);
  opacity: 0;
  transition: all 200ms ease;
  z-index: 3;
}
.profileHolder.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.profileHolder .left{
  color: var(--white2);
  font: 400 12px whitney;
  line-height: 16px;
  margin-right: 10px;
}
.profileHolder .left span {
  font: 500 16px whitney;
  line-height: 20px;
}
.profileHolder .right-content {
  font: 400 15px whitney;
  line-height: 18px;
  color: var(--red);
}
.profileHolder .right:hover {
  text-decoration: underline;
}
/*------sections------*/
.sectionWrapper-main {
  display: flex;
  flex: 1 1 100%;
  height: calc(100vh - 60px);
  overflow: hidden auto;
}
.sectionWrapper {
  display: flex;
  flex: 1 1 1000px;
}
.sectionWrapper.left {
  flex: 1 0 auto;
  background-color: var(--bgclr2);
  align-items: flex-end;
  flex-direction: column;
  position: relative;
  overflow: hidden auto;
}

.sectionImg {
  position: fixed;
  filter: grayscale(1) opacity(0.1);
  pointer-events: none;
  bottom: 0;
}
.sectionContent {
  padding: 40px 20px;
  width: 100%;
  max-width: 980px;
}
.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.sectionTitle, 
.sectionDescription {
  text-align: left;
}
.sectionTitle {
  font: 500 20px whitney;
  line-height: 26px;
  color: var(--white);
  margin: 0 0 5px;
}
.sectionTitle.big {
  font: 400 28px whitney;
  line-height: 34px;
}
.sectionDescription {
  font: 400 16px whitney;
  line-height: 24px;
  color: var(--white2);
  margin: 0 0 25px;
}
/*------othr------*/
.serverContent {
  height: auto;
  width: 160px;
  margin-left: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: inline-block;
  background-color: var(--black);
  border-radius: 3px;
  padding: 10px;
  transition: all 200ms ease;
}
.serverContent:hover {
  box-shadow: inset 0 0 0 2px var(--blurple), 0 9px 20px rgba(0,0,0,.3);
}
.serverImg {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 3px;
  margin-bottom: 5px;
}
.serverName {
  font: 500 16px whitney;
  line-height: 24px;
}

/*------responsive------*/
@media screen and (max-width: 770px) {
  .navWrapper {
    padding: 5.5px 20px;
  }
  .navBurger {
    display: block;
  }
  .logoWrapper-main {
    flex-grow: 1;
    width: auto;
  }
  .navListWrapper {
    display: none;
  }
  .sectionWrapper.left {
    position: absolute;
    visibility: hidden;
    height: calc(100vh - 45px);
    transform: translateX(-300px);
    transition: all 200ms ease;
    z-index: 2;
  }
  .sectionWrapper.left.show {
    transform: translateX(0);
    visibility: visible;
  }
  #overlay.show {
    opacity: 0.8;
    display: block;
  }
  .navListWrapper.mobile {
    display: block;
  }
  .navListWrapper.mobile ~ .sectionContent {
    padding-top: 0px;
  }
}
