<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JSB | {{title}}</title>
  <link rel="stylesheet" type="text/css" href="{{path}}assets/style.css"/>
  <script src="{{path}}assets/helpers.js"></script>
  {{#if secure}}
  <script>
    if(!TOKEN) {
      window.location.href = "https://discordapp.com/api/oauth2/authorize?client_id=593709124261511170&redirect_uri=https%3A%2F%2Fmoderation.jockie.tk&response_type=code&scope=identify%20guilds"
    }
  </script>
  {{/if}}
</script>
</head>
<body {{#if home}}style="background-color:var(--black);"{{/if}}>
  <header class="navWrapper-main" {{#if home}}style="background-color:var(--black);border-bottom: 1px solid var(--black2);"{{/if}}>
    <div class="navWrapper">
      <div class="navBurger" id="nav" onclick="showNav()">
        <span></span>
      </div>
      <div class="logoWrapper-main">
        <a class="logoWrapper" href="/">
          <img class="logo" src="https://discordapp.com/assets/5c5bb53489a0a9f602df0a24c5981523.svg">
          <div class="logoText twhite">JSB</div>
        </a>
      </div>
      <ul class="navListWrapper">
        <li><a href="/servers">servers</a></li>
        <li><a href="/commands">commands</a></li>
      </ul>
      <div class="profileWrapper" id="profile">
        <a class="btn small white" href="https://discordapp.com/api/oauth2/authorize?client_id=593709124261511170&redirect_uri=https%3A%2F%2Fmoderation.jockie.tk&response_type=code&scope=identify%20guilds">Login</a>
      </div>
    </div>
  </header>
  <section class="sectionWrapper-main" id="dashboard">
    {{{body}}}
  </section>
</body>
</html>