
<div class="homeContent">
  <h1 class="homeTitle big">It's time to ditch Dyno and MEE6</h1>
  <p class="homeTitle">All-in-one most advanced moderation bot made for Discord Hack Week 2019</p>
  <a class="btn wide" href="https://discordapp.com/oauth2/authorize?scope=bot&permissions=8&client_id=592768736315047946">Invite</a>
</div>
<img class="homeImg" src="assets/hack_lockups_white.png">
<img class="homeImg" src="assets/hack_wump.png">
