<div class="sectionWrapper left" id="sectionNav">
  <div class="sectionContent" style="max-width:290px;padding-right:10px;">
    <h1 class="sectionTitle big">Welcome!</h1>
    <p class="sectionDescription">This dashboard will be your portal to configuring the servers the bot is in. Click on the "Add a server" button to invite the bot to your server.</p>
  </div>
  <img class="sectionImg" src="assets/hack_wump.png">
</div>
<div id="overlay" onclick="showNav()"></div>
<div class="sectionWrapper">
  <div class="sectionContent" id="serverContent" style="margin-left: -10px;">
</div>